{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Travel Lister</title>
</head>

<body>
    <nav>
        <ul>
            <li><img src="{% static 'images/logo.png' %}" class="logo" alt="logo"></li>
            {% comment %} <li>Signup</li>
            <li>Login</li> {% endcomment %}
        </ul>
    </nav>
    <header>
        <div class="left flex-center">
            <img src="{% static 'images/travel.png' %}" alt="traveller">
        </div>
        <div class="right">
            <h1 class="header-text">Search & Explore</h1>
            <p class="header-tag-line">Don't miss out on any location</p>
            <form action="{% url 'travel_lister:generate' %}" method="post">
                {% csrf_token %}
                <label for="destination">Destination</label>
                <input required type="text" name="destination" id="destination" placeholder="Enter the destination">
                <button type="submit">Submit</button>
            </form>
        </div>
    </header>
    

</body>

</html>